.app_graphics{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app_chart{
  width: 550px;
  text-align: center;
  margin-bottom: 3%
}

.app_pie{
  height: 250px;
  text-align: center;
}