.app_notification{
  text-align: center;
}

.notification_text{
  font-size: 20px;
  margin-bottom: 8px;
}
.purple_button{
  border-style: none;
  background-color: purple;
  color: white;
  margin-right: 5px;
}

.green_button{
  border-style: none;
  background-color: green;
  color: black;
}